<%inherit  file="base.html" />
<%!
   from django.utils.translation import ugettext as _
   from django.template import RequestContext
   from django.core.urlresolvers import reverse   
%>

<%block name="content">
<div id="postman">
<h1><%block name="pm_folder_title"></%block></h1>
<!-- {% autopaginate pm_messages %} -->
% if invalid_page:
<p>${ _("Sorry, this page number is invalid.") }</p>
% else:
% if pm_messages:
<%block name="pm_by_modes">
<div id="pm_by_modes">
  <span class="pm_by_mode">
    % if by_message:
    <a href="{{ by_conversation_url }}">
    ${ _("by conversation") }
    </a>
    % endif
  </span>
  <span class="pm_by_mode">
    % if by_conversation:
    <a href="{{ by_message_url }}">
    ${ _("by message") }
    </a>
    % endif
  </span>
</div>
</%block>

<form action="<%block name="pm_form_action"></%block>" method="post">${ csrf_token }
<%block name="pm_form_buttons">
  <span id="pm_buttons">
    <%block name="pm_delete_button">
    <button type="submit" onclick="this.form.action='{% url 'postman:delete' %}'">${ _("Delete") }</button>
    </%block>
    <%block name="pm_archive_button"><button type="submit" onclick="this.form.action='{% url 'postman:archive' %}'">${ _("Archive") }</button>
    </%block>
    <%block name="pm_undelete_button"><button type="submit" onclick="this.form.action='{% url 'postman:undelete' %}'">${ _("Undelete") }</button>
    </%block>
  </span>
</%block>

<table id="pm_messages">
 <thead>
  <tr>
   <th>${ _("Action") }</th>
   <%block name="pm_sender_header">   <th><a href="{% postman_order_by sender %}">${ _("Sender") }</a></th></%block>
   <%block name="pm_recipient_header">   <th><a href="{% postman_order_by recipient %}">${ _("Recipient") }</a></th></%block>
   <th><a href="{% postman_order_by subject %}">${ _("Subject") }</a></th>
   <th><a href="{% postman_order_by date %}"><%block name="pm_date"> ${ _("Date") }</%block></a></th>
  </tr>
 </thead>
<tbody>
  %for message in pm_messages:
  <tr>
   <td><input type="checkbox" % if by_conversation and message.thread_id: name="tpks" value="${ message.thread_id }"% else: name="pks" value="${ message.pk }"% endif /></td>
<%block name="pm_sender_cell">   <td>${ message.obfuscated_sender }% if message.count: (${ message.count })% endif</td></%block>
<%block name="pm_recipient_cell">   <td>${ message.obfuscated_recipient }% if message.count: (${ message.count })% endif</td></%block>
<td>
  % if message.is_new:
  <strong>
  % endif
  % if message.is_replied:
  <em>
  % endif
<%block name="pm_subject">
    <a href="% if by_conversation and message.thread_id: ${ reverse('postman:view_conversation') } ${message.thread_id }% else: ${ reverse('postman:view') } ${ message.pk } % endif ?next=${ current_url|urlencode }">
    <%include file="postman/inc_subject_ex.html"/>
    </a>
</%block>
% if message.is_replied:
</em>
% endif
% if message.is_new:
</strong>
% endif
</td>
   <td>${ message.sent_at }</td>
</tr>
%endfor
 </tbody>
</table>
</form>
<!-- {% paginate %} -->
% else:
<h2>${ _("No messages.") }</h2>
% endif
% endif
<%block name="pm_footer_info"> </%block>
</div>
</%block>
