<%inherit file="base.html"/>

<%!
   from django.utils.translation import ugettext as _
   from django.utils.http import urlencode
%>

<%block name="content">

<div id="postman">
  <h1><%block name="pm_write_title"></%block></h1>
<form action="% if next_url: ?next=${ "#" } % endif" method="post">
  <input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }" />
  <table><%block name="pm_write_recipient"></%block>
  <div>
      <div>${ form.recipients }</div>
  </div>
</table>
<button type="submit">${ _("Send") }</button>
</form>
</div>

</%block>
