<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>
<%!
   from django.utils.translation import ugettext as _
   from django.core.urlresolvers import reverse
%>   
<%
    tpl = """{% load postman_tags %}"""
    from django.template import Template, Context
    t = Template(tpl)
    t.render(Context())
%>

<%block name="pagetitle">${_("Messaging")}</%block>
<%block name="postman_menu">
<ul id="postman_menu">
 <li><a href="${ reverse('postman:inbox')}">&raquo;&nbsp;${ _("Inbox") }</li>
 <li><a href="${ reverse('postman:sent')}">&raquo;&nbsp;${ _("Sent Messages") }</a></li>
 <li><a href="${ reverse('postman:write')}">&raquo;&nbsp;${ _("Write") }</a></li>
 <li><a href="${ reverse('postman:archives')}">&raquo;&nbsp;${ _("Archives") }</a></li>
 <li><a href="${ reverse('postman:trash')}">&raquo;&nbsp;${ _("Trash") }</a></li>
</ul>
</%block>
<%block name="content"></%block>
